.style{
    height: 50px;
    width: 80px;
    background-color:black;
    border-radius: 50%;

}
.style_2{
    height: 50px;
    width: 80px;
    background-color:black;
    border-radius: 50%;

}
.style_3{
    height: 50px;
    width: 80px;
    background-color:black;
    border-radius: 50%;
}